# Auto detect text files and perform LF normalization
* text=auto

MYSQL WORKBENCH连接mysql数据库报如下错:

Authentication plugin 'caching_sha2_password' cannot be loaded: dlopen(/usr/local/mysql/lib/plugin/caching_sha2_password.so, 2): image not found
navicat 也连不上

解决方法如下：

密码格式问题，命令行连接mysql

ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY '你的密码';

或者
Note: For MAC OS

1，Open MySQL from System Preferences > Initialize Database >
2，Type your new password.
3，Choose 'Use legacy password'
4，Start the Server again.
5，Now connect the MySQL Workbench

